extends layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1 Control Panel
	.container
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body
						span.glyphicon.glyphicon-cloud-upload
						h2 File Uploader

						button.btn.btn-lg.upload-btn(type="button") Upload File

						input#upload-input(type="file", name="uploads[]", multiple="multiple")
						br
		//.content-card
			form#upload(enctype="multipart/form-data" method="post")
				.row
					label(for='file') Select a File to Upload
					br
					input#file(type='file', name='file', onchange="fileSelected()")
				#fileName
				#fileSize
				#fileType
				.row
					button(type='button', onclick='uploadFile()', value='Upload')
				#progressNumber

		.row
			.col-xs-12.col-sm-6
				.content-card
					h2.content-card--header Tools
					button#ClearCache.btn-primary Clear Cache
		h2.fc-G Update Users
		.row
			ul#UserList.p-0
				for user, i in users ? users.sort((a, b) => {if(a.isAdmin){return -1;} return 1;}) : []
					-var isAlt = i % 2 == 0 ? '' : 'bg-G__ltr'

					li.col-xs-12.col-sm-6.col-md-4.col-lg-3.ls-N
						.content-card
							h3.content-card--header= user.name ? `${user.name.first} ${user.name.last}` : 'N/A'
							strong Email:&nbsp;
							span.js-user-email= user.local ? user.local.email : 'N/A'


							.mt-Md(duck-function='update', duck-key-value= user['Id'])
								.checkbox.d-Ib(duck-field='isAdmin', duck-type='bool')
									label
										input(type='checkbox', duck-value, checked= user.isAdmin, value='true')
										| Administrator

								button.btn-primary.f-R(type='button', duck-button='submit') Save
									i.fa.fa-spinner.fa-spin.ml-Xs.hidden(aria-hidden='true')

		.content-card
			h2.content-card--header Add User
			form(method='POST', action='/signup')
				.form-group
					label First Name
						input.form-control(type='text', name='name.first')
				.form-group
					label Last Name
						input.form-control(type='text', name='name.last')

				.form-group
					label Email
						input.form-control(type='email', name='local.email')
				.form-group
					label Password
						input.form-control(type='text', name='local.password')

				input.btn.btn-primary(type='submit', value='Save')



	script(src='js/pages/admin.min.js')
	script.
		const $ = jQuery.noConflict();

		$('.upload-btn').on('click', function (){
			$('#upload-input').click();
		});

		$('#upload-input').on('change', function(){

			var files = $(this).get(0).files;

			if (files.length > 0){
				// create a FormData object which will be sent as the data payload in the
				// AJAX request
				var formData = new FormData();

				// loop through all the selected files and add them to the formData object
				for (var i = 0; i < files.length; i++) {
					var file = files[i];

					// add the files to formData object for the data payload
					formData.append('uploads[]', file, file.name);
				}

				$.ajax({
					url: '/upload',
					type: 'POST',
					data: formData,
					processData: false,
					contentType: false,
					success: function(data){
						console.log('upload successful!\n' + data);
					}
				});
			}
		});