extends layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1 Control Panel

	+modal('Images')
		#ImageList
			h2 Images
			i.fa.fa-spinner.fa-spin

	.container
		.row
			.col-xs-12.col-sm-6
				.content-card
					h2.content-card--header Tools
					button#ClearCache.btn-primary Clear Cache
		h2.fc-G Update Users
		.row
			ul#UserList.p-0
				for user, i in users ? users.sort((a, b) => {if(a.isAdmin){return -1;} return 1;}) : []
					-var isAlt = i % 2 == 0 ? '' : 'bg-G__ltr'

					li.col-xs-12.col-sm-6.col-md-4.col-lg-3.ls-N
						.content-card
							h3.content-card--header= user.name ? `${user.name.first} ${user.name.last}` : 'N/A'
							strong Email:&nbsp;
							span.js-user-email= user.local ? user.local.email : 'N/A'


							.mt-Md(duck-function='update', duck-key-value= user['Id'])
								.checkbox.d-Ib(duck-field='isAdmin', duck-type='bool')
									label
										input(type='checkbox', duck-value, checked= user.isAdmin, value='true')
										| Administrator

								button.btn-primary.f-R(type='button', duck-button='submit') Save
									i.fa.fa-spinner.fa-spin.ml-Xs.hidden(aria-hidden='true')

		.content-card
			h2.content-card--header Add User
			form(method='POST', action='/signup')
				.form-group
					label First Name
						input.form-control(type='text', name='name.first')
				.form-group
					label Last Name
						input.form-control(type='text', name='name.last')

				.form-group
					label Email
						input.form-control(type='email', name='local.email')
				.form-group
					label Password
						input.form-control(type='text', name='local.password')

				input.btn.btn-primary(type='submit', value='Save')



	script(src='js/pages/admin.min.js')