extends layout.pug

block content
	.media-bg-img.feedback-header
		.container
			h1= error.status
	.container.text-center
		.content-card
			h2= message

			if user && user.isAdmin
				hr.small
				br
				p= error.stack
			- console.error(error.stack)