mixin accordion(items, keepOpen= 1)
	if items
		div(data-function='accordion')&attributes(attributes)
			for item, i in items
				h3(role='tab',aria-expanded= i < keepOpen ? 'true' : 'false', data-function='toggle', data-event='tab-changed', data-target='this i')
					i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180', class= i < keepOpen ? 'rotate-Neg180' : '')
					= item.title
				div(role='tabpanel', aria-hidden= i < keepOpen ? 'false' : 'true')!= item.description
