head
	title= title || 'The Lissner Listner'
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='description', content= description || 'The Lissner Listner is built to record the past, present, and future.')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='author', content='Joe Lissner')

	//// Styles & Fonts ///////////////////////////////////////////////////////

	// hosted local
	link(rel='stylesheet', href='/styles/font-awesome/css/font-awesome.min.css', type='text/css')
	link(rel='stylesheet', href='/styles/styles.css', type='text/css')

	//// Scripts //////////////////////////////////////////////////////////////
	// not hosted local
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	script(type='text/javascript', src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(type='text/javascript', src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

	// hosted local
	script(type='text/javascript', src='/components/duck/duck.min.js')
	script(type='text/javascript', src='/components/accordionsTabs/accordions-tabs.min.js')
	script(type='text/javascript', src='/components/banner/banner.min.js')
	script(type='text/javascript', src='/components/copy/copy.min.js')
	script(type='text/javascript', src='/components/icon/icon.min.js')
	script(type='text/javascript', src='/components/interiorNav/interiorNav.min.js')
	script(type='text/javascript', src='/components/scroll/scroll.min.js')
	script(type='text/javascript', src='/components/stickey/stickey.min.js')
	script(type='text/javascript', src='/components/sortable/sortable.min.js')
	script(type='text/javascript', src='/components/stopProp/stopProp.min.js')
	script(type='text/javascript', src='/components/tabs/tabs.min.js')
	script(type='text/javascript', src='/components/toggle/toggle.min.js')
	if (user && user.isAdmin)
		script(type='text/javascript', src='/components/duckForm/duckForm.min.js')
	script(type='text/javascript', src='/js/scripts.min.js')
	

	// include summernote css/js
	link(href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css", rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js")

	// scripts
	-
		function uuid() {return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => { const r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);return v.toString(16);})}
		function randomizeArray(a, b) { var x = Math.random(); if(x>.5){return 1;}if(x<.5){return -1;}return 0;}
		function sortByOrder(a, b){ if(a.order > b.order){return 1} if(a.order < b.order){return -1} return 0; }
		function wysiwygHasData(data) {
			const empytValues = [
				undefined,
				null,
				'<p><br></p>',
				'<div><br></div>',
				'<div><p><br></p></div>',
				'<br>',
			]

			return !(empytValues.indexOf(data) > -1)
		}
		function createValidAttributeFromTitle(title) {
			const findInvalidAttributeCharacters = /[^a-z0-9\s]|^[^a-z\s]+/gi;
			const findMultipleSpaces = /\s\s+/g;
			const findAllSpaces = /\s/g;

			return title.replace(findInvalidAttributeCharacters, '')
				.replace(findMultipleSpaces, ' ')
				.trim()
				.replace(findAllSpaces, '-');
		}
	block head