header.site-header.fj-B
	.site-header--logo
		a.fc-B(href='/') The Lissner Listner
	nav.site-header--nav
		if user
			.dropdown
				button.bg-N.bw-0#UserMenu(type='button', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")= user.name.first
				ul.dropdown-menu(aria-labelledby="UserMenu")
					li: a(href='/profile') My Account
					li: a(href='/logout') Logout
		else
			button.bg-N.bw-0(data-toggle='modal', data-target='#LoginModal') Login
			//button.btn.sign-up(type='button', data-toggle='modal', data-target='#SignupModal', tab-index='2') Sign Up

if !user
	.modal.fade#LoginModal(tab-index='-1', role='dialog')
		.modal-dialog(role='document')
			form.modal-content(method='POST', action='/auth/local')
				.modal-header
					h4.mt-0.mb-0.pl-Sm.fc-G Log In
					button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body

					.col-xs-12
						label.input-label.w-100.p-R
							i.fa.fa-envelope.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Email.form-control.input-lg(name='email', type='email', placeholder='Email Address')

					.col-xs-12
						label.input-label.w-100.p-R
							i.fa.fa-lock.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Passphrase.form-control.input-lg(name='password', type='password', placeholder='Password')

					.col-xs-12
						input.btn.btn-lg.bg-Gr.fc-G__ltst.mt-Sm(type='submit', value='Log In')
	.modal.fade#SignupModal(tab-index='-1', role='dialog', aria-labelledby="SignupModal")
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h4 Sign Up
					button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				form.modal-body(method='POST', action='/signup')
					.form-group
						label.control-label(for='First') First Name
						input.form-control#First(name='name.first', type='text', placeholder='John', required='required')

					.form-group
						label.control-label(for='Last') Last Name
						input.form-control#Last(name='name.last', type='text', placeholder='Doe', required='required')

					.form-group
						label.control-label(for='SignupEmail') Email
						input.form-control#SignupEmail(name='local.email', type='email', placeholder='joe@gmail.com', required='required')

					.form-group
						label.control-label(for='SignupPassphrase') Passphrase
						input.form-control#SignupPassphrase(name='local.password', type='password', required='required')
					//button.btn.btn-default(type='button', data-dismiss='modal') Close
					input.btn.btn-primary(type='submit', value='Create')