if (!user)
	.login-control
		//button.btn.sign-up(type='button', data-toggle='modal', data-target='#SignupModal', tab-index='2') Sign Up
		button.btn.btn-default.bw-N(type='button', data-toggle='modal', data-target='#LoginModal', tab-index='1') Log In

	.modal.fade#LoginModal(tab-index='-1', role='dialog', aria-labelledby="LoginModalLabel")
		.modal-dialog(role='document')
			form.modal-content(method='POST', action='/auth/local')
				.modal-header
					h4.mt-0.mb-0.pl-Sm.fc-G Log In
					button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body

					.col-xs-12
						label.input-label.w-100.p-R
							i.fa.fa-envelope.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Email.form-control.input-lg(name='email', type='email', placeholder='Email Address')

					.col-xs-12
						label.input-label.w-100.p-R
							i.fa.fa-lock.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Passphrase.form-control.input-lg(name='password', type='password', placeholder='Password')

					//.col-xs-8
						.checkbox
							label.fc-G__dk
								input(type='checkbox', name='remember')
								| Remember me
					//.col-xs-4.text-right.ptb-Sm
						a.fc-Gr(href="#") Forgot Password?

					.col-xs-12
						input.btn.btn-lg.bg-Gr.fc-G__ltst(type='submit', value='Log In')
				//.modal-footer
					.col-xs-12
						p Don't have an account?
						button.signup-login-btn(type='button', data-dismiss='modal', data-toggle='modal', data-target='#SignupModal') Sign Up
	
	//.modal.fade#SignupModal(tab-index='-1', role='dialog', aria-labelledby="SignupModal")
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					//h4.modal-title#SignupModalLabel Create an Account
				.modal-body
					.col-xs-12
						h3 Coming Soon...
						p.lead We are currently in a closed Beta. If you would like to be put in the list to get in on it sign up for below!
					//.form-horizontal
						.form-group
							label.control-label.col-sm-2(for='First') First Name
							.col-sm-10
								input.form-control#First(name='name.first', type='text', placeholder='John', required='required')

						.form-group
							label.control-label.col-sm-2(for='Last') Last Name
							.col-sm-10
								input.form-control#Last(name='name.last', type='text', placeholder='Doe', required='required')

						.form-group
							label.control-label.col-sm-2(for='SignupEmail') Email
							.col-sm-10
								input.form-control#SignupEmail(name='local.email', type='email', placeholder='joe@gmail.com', required='required')

						.form-group
							label.control-label.col-sm-2(for='SignupPassphrase') Passphrase
							.col-sm-10
								input.form-control#SignupPassphrase(name='local.password', type='password', placeholder='StellarouteIsTheBest!', required='required')

				.modal-footer
					.col-xs-12
						p Already have an account?
						button.signup-login-btn(type='button', data-dismiss='modal', data-toggle='modal', data-target='#LoginModal') Log In
					//button.btn.btn-default(type='button', data-dismiss='modal') Close
						input.btn.btn-primary(type='submit', value='Create')
else
	- var loginClasses = `bg-N bw-N pt-0 ${headerBackground === 'none' ? 'fc-W' : 'fc-B'}`;

	nav.dropdown.navbar-right
		button#UserMenu(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", class= loginClasses)
			if (user.name && user.name.first)
				span= user.name.first + ' '
			else
				span User
			
			if user.instagram
				img.br-C.ml-XXs(src=user.instagram.profile_picture, alt=user.name.first, style= {'max-width': '32px'})
			else
				i.fa.fa-user(aria-hidden="true")

		ul.dropdown-menu.ta-R(aria-labelledby="UserMenu")
			li
				a(href='/profile') My Account
			li
				a(href='/logout') Log Out

	