mixin formStart(item, tableName, show= true, duckFunction= 'update', key= 'Id')
	if userIsAuthorized()
		div(duck-table= tableName, duck-function=duckFunction, duck-key=key, duck-key-value= item && item[key], duck-edit-form='view')&attributes(attributes)
			block
	else if show
		div&attributes(attributes)
			block
