- var imagePicker = 0;

+modal(`ImagePickerModal`)(class='modal-lg')
	h2.content-card--header Pick an Image
	div(data-function='scroll' style='min-height: 70vh;')
		div(data-scroll='content-wrapper')
			div(data-scroll='content')
				.mb-Md.ta-C(duck-images='false')
		div(data-scroll='scrollbar')
			button
	.row.pt-Sm(duck-image-uploader)
		.col-xs-6
			button.btn.btn-secondary(duck-button='upload') Upload New Image
			button.btn.btn-primary(duck-button='save-image') Save
		.col-xs-6.ta-R
			button.btn.btn-default(data-dismiss='modal') Cancel

mixin image(item, field, title)
	.form-group(duck-field=field, duck-type='image', duck-image-picker= imagePicker++)&attributes(attributes)
		if title
			label= title
				.p-Sm.bw-Sm.bs-S
					input.hidden(type='file')
					input.hidden(type='hidden', duck-value, value= item && item[field])
					button.btn.btn-secondary.p-Xs(data-icon='fa fa-image', duck-button='image-select')
					span.pl-Sm(duck-image-value)= item && item[field]
					block 
		else
			.p-Sm.bw-Sm.bs-S
				input.hidden(type='file')
				input.hidden(type='hidden', duck-value, value= item && item[field])
				button.btn.btn-secondary.p-Xs(data-icon='fa fa-image', duck-button='image-select')
				span.pl-Sm(duck-image-value)= item && item[field]

				block 