mixin imageArray(obj, field, title, addText)
	div(duck-field=field, duck-type='array')
		h3= title
		div
			for image, i in obj && obj[field] ? obj[field] : [null]
				+image(obj[field], i)
					button.btn.btn-danger.f-R.mt-NegXXs.mr-NegXs(duck-button='delete')
		.ta-R
			button.btn.btn-primary(duck-button='add')= addText || 'Add Image'