- var imagePicker = 0;

include ../../controls/imagePicker.pug

mixin image(item, field, title)
	.form-group(duck-field=field, duck-type='image', duck-image-picker= imagePicker++)&attributes(attributes)
		if title
			label= title
				.p-Sm.bw-Sm.bs-S.bc-G.br-Sm
					input.hidden(type='hidden', duck-value, value= item && item[field])
					button.btn.btn-secondary.p-Xs(data-icon='fa fa-image', duck-button='image-select')
					span.pl-Sm(duck-image-value)= item && item[field]
					block 
		else
			.p-Sm.bw-Sm.bs-S.bc-G.br-Sm
				input.hidden(type='hidden', duck-value, value= item && item[field])
				button.btn.btn-secondary.p-Xs(data-icon='fa fa-image', duck-button='image-select')
				span.pl-Sm(duck-image-value)= item && item[field]

				block 