mixin object(field, title, deleteText)
	div(duck-field=field, duck-type='object')&attributes(attributes)
		if title
			h3= title

		block

		if deleteText
			.ta-C
				button.btn.btn-danger(duck-button='delete')= deleteText