mixin string(obj, field, title, placeholder)
	.form-group(duck-field=field, duck-type='string')&attributes(attributes)
		if (title)
			label= title
				input.form-control(type='text', duck-value, value= obj && obj[field], placeholder= placeholder)
		else
			input.form-control(type='text', duck-value, value= obj && obj[field], placeholder= placeholder)